################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GitHubProject001Console/.vs/GitHubProject001Console/v15
/.vs
